@import "bootstrap-sprockets";
@import "bootstrap";


.single_tick {
  background-color: black;
  color: black;
  height: 12px;
  width: 12px;
  display: inline-block;
  margin: 2px;
}

.map_back {
  width: 100%;
  position: absolute;
  z-index: -1;
  height: auto;
}

.chart-pane {
  background-color: rgba(20,20,20,0.2);
  margin: 5px;
  font-size: 1.2em;
}
