<% @locations.each do |location| %>
  <div class="col-md-5">
    <h3><%= location.name %></h3>
    <h4><%= location.address %></h4>
    <hr>
    <% location.charts.each do |chart| %>
      <h5><%= chart.name %></h5>
    <% end %>
  </div>
<% end %>
